swagger: '2.0'
schemes:
    - https # Remove if your API donsn't support HTTPS
host: citrination.com
basePath: /api
info:
    title: Citrination
    version: 1.0.0
    termsOfService: 'https://citrination.com/tos'
    contact:
        name: Citrine Informatics
        email: admin@citrine.io
        url: 'https://citrine.io'
    license:
        name: Apache License Version 2.0
        url: 'https://www.apache.org/licenses/LICENSE-2.0'
    description: |
        # Introduction
        Much of the functionality available on Citrination is also available through the API. In addition, some features are only available through the API. All access is controlled using an API token so users must have an account on Citrination in order to access the API.

        Users may access the API directly through https requests, or may use one of the client libraries below.

        # Python client
        A python client is available through [github](https://github.com/CitrineInformatics/python-citrination-client) or can be installed with pip using `pip install citrination-client`. There may be issues installing libraries that depend on [six](https://pypi.python.org/pypi/six) on OSX. If you encounter issues during installation, you may also try `pip install --ignore-installed six citrination-client`. The python client can be configured using:

        ```python
        from citrination-client import *

        client = CitrinationClient('YOUR_API_KEY')
        ```

        If you are using a private instance of Citrination (e.g. https://mysite.citrination.com), then you client can be configured with:

        ```python
        from citrination-client import *

        client = CitrinationClient('YOUR_API_KEY', 'https://mysite.citrination.com')
        ```

        Note that all variables and method names are represented in snake case in the python client library, rather than camel case as is used in this documentation. For example, a variable named `updatedAt` in this documentation would be `updated_at` in the python library.

        # Java client
        A java client is available through [github](https://github.com/CitrineInformatics/java-citrination-client). The client can be configured using:

        ```java
        import io.citrine.jcc.core.CitrinationClient;

        class MyClass {
            void createClient() {
                CitrinationClient citrinationClient = new CitrinationClient.Builder()
                    .setApiKey('YOUR_API_KEY')
                    .build();
            }
        }
        ```

        If you are using a private instance of Citrination (e.g. https://mysite.citrination.com), then you client can be configured with:

        ```java
        import io.citrine.jcc.core.CitrinationClient;

        class MyClass {
            void createClient() {
                CitrinationClient citrinationClient = new CitrinationClient.Builder()
                    .setProject('mysite')
                    .setApiKey('YOUR_API_KEY')
                    .build();
            }
        }
        ```
produces:
    - application/json
consumes:
    - application/json
securityDefinitions:
    ApiKey:
        type: apiKey
        in: header
        name: X-API-Key
        description: You API key is available under account settings when you are logged into Citrination. Note that your API key will be different accross deployments of Citrination. Therefore, if you have an account on the open Citrination platform (https://citrination.com) and on a private instance named mysite (https://mysite.citrination.com), then you will have different API keys on each.
security:
    - ApiKey: []
